*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  font-family: 'Source Sans Pro';
  color: #3d3d3d;
}
.limite{
  max-width: 1024px;
  margin: auto;
}
header{
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #e7e1e1a9;
  display: flex;
  
}
header > .conteudo-header{
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header > .conteudo-header > div > .logo{
  text-decoration: none;
  font-size: 18px;
  color: #3d3d3d;
}
header > .conteudo-header > div > a > span{
  color: #638cd8;
}
header > .conteudo-header > div > .links{
  text-decoration: none;
  color: #3d3d3d;
  text-transform: uppercase;
}
header > .conteudo-header > div > .afastar-Direita{
  padding-right: 15px;
}
.container-imagem{
  background: url(assets/img-fundo.jpg) center no-repeat ;
  background-size: cover;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;  
}
.container-imagem > div{
  background-color: rgba(111, 192, 124, 0.329);
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 19px;
  color: #fff;
  padding: 40px;
}
.container-imagem > div > h1{
  font-size: 40px;
  padding-bottom: 20px;
}
.bem-vindo{
  max-width: 1024px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.bem-vindo > h2{
  text-align: center;
  padding-bottom: 20px;
}
.bem-vindo > p{
  text-align: center;
}
.limite > .tipos-quartos{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.limite > .tipos-quartos > div > img{
  width: 300px;
  height: 200px;
}
.limite > .tipos-quartos > div > p,.legenda-quartos{
  text-align: center;
  padding: 12px 0px 12px 0px;
  border-bottom: 2px solid #42776f;
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
#rota{
  max-width: 1024px;
  margin-top: 60px;
  margin-bottom: 60px;
}
#rota > h2{
  text-align: center;
  padding-bottom: 20px;
}
#rota > p{
  text-align: center; 
}
iframe{
  width: 100%;
  height: 300px;
}
#sobre{
  max-width: 1024px;
  margin-top: 60px;
  margin-bottom: 60px;
}
#sobre > h2{
  text-align: center;
  padding-bottom: 20px;
}
#sobre > p{
  text-align: center;
}
.sobre-pousada > div > img{
  width: 100px;
  height: 100%;
  object-fit: cover;
  margin-left: 10px;
}
.sobre-pousada{
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}
.sobre-pousada > div > div > h3{
  padding-bottom: 10px;
}
.sobre-pousada > div{
  width: 45%;
  height: 100px;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer{
  width: 100%;
  background-color: #49997c;
}
footer > div > h4{
  font-size: 20px;
  color: #fff;
  width: 17%;
  padding: 20px 10px 40px 10px;
}
footer > .container-footer{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
footer > .container-footer > div{
 display: flex;
 align-items: center;
 width: 20%;
}
footer > .container-footer > div > img{
  padding-right: 8px;
}
footer > .container-footer > div > a{
  font-size: 17px;
  color: #fff;
  text-decoration: none;
}
footer > div > p{
  text-align: center;
  margin-top: 40px;
}