*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  font-family: 'Source Sans Pro';
  color: #3d3d3d;
}
#containerTopo{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: whitesmoke;
  border-bottom: 1px solid #e7e7e7;
}
.limite{
  max-width: 1024px;
}
#containerTopo > .link-topo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto; 
  width: 100%;
}
#logo{
  text-decoration: none;
  color: #3d3d3d;
  font-size: 20px;
}
#logo > span{
  color: #0184df;
}
#links{
  margin-right: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #3d3d3d;
}
#links:hover{
  text-decoration: underline;
}
#containerBunner{
  background-image: url(assets/img-fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#local > h1{
  padding-bottom: 30px;
  font-size: 40px;
}
#local > h1::first-letter{
  padding-left: 17px;
}
#local{
  color: #fff;
  border: 1px solid #fff;
  padding: 30px;
  background-color: rgba(12, 143, 99, 0.425);
  border-radius: 3px;
}
#local > #paragrafoTopo{
  font-size: 20px;
}
.sec-apresentacao{
  margin: auto;
  width: 100%;
}
.centralizar{
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
  max-width: 480px;
  width: 100%;
}
.centralizar > h2{
  font-weight: normal;
  text-transform: uppercase;
  margin: 60px 0px 10px 0px;
}
.centralizar > p{
  line-height: 30px;
}
.tipoQuartos{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.tipoQuartos > div > img{
  width: 300px;
}
.tipoQuartos > div > .legenda{
  display: block;
  text-align: center;
  text-decoration: none;
  color: #3d3d3d;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 20px;
}
.bottomColor{
  border-bottom: 2px solid #42776f;
  margin-bottom: 15px;
}
iframe{
  width: 100%;
  height: 300px;
}
.organizar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 50px;
  margin-right: 150px;
  margin-left: 150px;
  margin: auto;
  width: 100%;
}
.content{
  display: flex;
  width: 45%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.content > div > h3{
  padding: 10px 0px 20px 0px;
}
.diminuir{
  width: 110px;
  height: 110px;
  object-fit: cover;
  margin-left: 10px;
}
footer{
  width: 100%;
  padding: 50px 130px;
  background-color: #49997c;
}
footer > #rodape > #grandeContainer{
  width: 700px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #497e6a;
  padding-bottom: 30px;
}
#icone{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
#tituloQuatro{
  width: 150px;
  font-size: 20px;
  color: #fff;
}
#minicontainer{
  width: 30%;
  display: flex;
}
#linkRodape{
  color: #fff;
  text-decoration: none;
}
#copy{
  color: #fff;
  text-align: center;
  padding-top: 25px;
}

@media (min-width: 320px) and (max-width: 425px){
  #containerTopo{
    position: sticky;
    height: 74px;
  }
  #containerTopo > .link-topo{
    flex-direction: column;
    padding-top: 6px;
  }
  #containerTopo > .link-topo > .div-logo{
    margin-bottom: 7px;
  }
  #containerTopo > .link-topo > .div-link{
    width: 270px;
    border-top: 2px solid #5e5b5b;
    display: flex;
    justify-content: space-around;
  }
  #containerTopo > .link-topo > .div-link > #links{
    margin: 0px;
    padding: 6px 0px;
  }
  #containerBunner{
    display: none;
  }
  .sec-apresentacao .centralizar > p{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  .organizar{
    flex-direction: column;
    padding-bottom: 50px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .organizar > .content{
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .organizar > .content > img{
    margin: 10px 0px;
  }
  footer{
    padding: 0px;
  }
  footer > #rodape{
    flex-direction: column;
  }
  footer > #rodape > #tituloQuatro{
    font-size: 17px;
    color: #fff;
    width: 200px;
    margin: auto;
    margin-bottom: 40px;
    padding-top: 10px;
  }
  footer > #rodape > #grandeContainer > #minicontainer > #linkRodape{
    font-size: 12px;
  }
  footer > #rodape > #grandeContainer > #minicontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 20px auto;
  }
  footer > #rodape > #grandeContainer > #minicontainer > #icone{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  footer > #rodape > #grandeContainer{
    width: 100%;
    display: block;
    padding-bottom: 0px;
  }
  footer > #copy > p{
    font-size: 12px;
    padding-bottom: 10px;
  }
}

@media (min-width: 426px) and (max-width: 768px){
  #containerTopo > .link-topo{
    padding-left: 10px;
    padding-right: 10px;
  }
  #containerBunner{
    height: 300px;
  }
  #containerBunner > #local{
    height: 150px;
    width: 300px;
    padding: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #containerBunner > #local > h1{
    padding-bottom: 10px;
    font-size: 25px;
  }
  #local > h1::first-letter{
    padding-left: 0px;
  }
  #local > #paragrafoTopo{
    font-size: 17px;
  }
  .sec-apresentacao .centralizar > p{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  .organizar{
    flex-direction: column;
    padding-bottom: 50px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .organizar > .content{
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .organizar > .content > img{
    margin: 10px 0px;
  }
  footer{
    padding: 0px;
  }
  footer > #rodape{
    flex-direction: column;
  }
  footer > #rodape > #tituloQuatro{
    font-size: 17px;
    color: #fff;
    width: 200px;
    margin: auto;
    margin-bottom: 40px;
    padding-top: 10px;
  }
  footer > #rodape > #grandeContainer > #minicontainer > #linkRodape{
    font-size: 12px;
  }
  footer > #rodape > #grandeContainer > #minicontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 20px auto;
    padding-bottom: 20px;
  }
  footer > #rodape > #grandeContainer > #minicontainer > #icone{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  footer > #rodape > #grandeContainer{
    width: 100%;
    display: block;
    padding-bottom: 0px;
  }
  footer > #copy > p{
    font-size: 12px;
    padding-bottom: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1100px){
  #containerTopo > .link-topo{
    padding-left: 10px;
    padding-right: 10px;
  }
  #containerBunner{
    height: 300px;
  }
  #containerBunner > #local{
    height: 150px;
    width: 300px;
    padding: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #containerBunner > #local > h1{
    padding-bottom: 10px;
    font-size: 25px;
  }
  #local > h1::first-letter{
    padding-left: 0px;
  }
  #local > #paragrafoTopo{
    font-size: 17px;
  }
  .sec-apresentacao .centralizar > p{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  .organizar > .content{
    padding-left: 10px;
    padding-right: 10px;
  }
  .organizar > .content > img{
    margin: 10px 0px;
  }
  footer{
    padding: 0px;
  }
  footer > #rodape > #tituloQuatro{
    font-size: 17px;
    color: #fff;
    width: 200px;
    margin: auto;
    margin-bottom: 40px;
    padding-top: 10px;
  }
  footer > #copy > p{
    font-size: 12px;
    padding-bottom: 10px;
  }
}