*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  font-family: 'Source Sans Pro';
  color: #3d3d3d;
}
#containerTopo{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: whitesmoke;
  border-bottom: 1px solid #e7e7e7;
}
#containerTopo > .link-topo{
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto; 
  width: 100%;
}
#logo{
  text-decoration: none;
  color: #3d3d3d;
  font-size: 20px;
}
#logo > span{
  color: #0184df;
}
#links{
  margin-right: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #3d3d3d;
}
#links:hover{
  text-decoration: underline;
}
#containerBunner{
  background-image: url(assets/img-fundo.jpg);
  background-repeat: no-repeat;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#local > h1{
  padding-bottom: 30px;
  font-size: 40px;
}
#local > h1::first-letter{
  padding-left: 17px;
}
#local{
  color: #fff;
  border: 1px solid #fff;
  padding: 30px;
  background-color: rgba(12, 143, 99, 0.425);
  border-radius: 3px;
}
#local > #paragrafoTopo{
  font-size: 20px;
}
#titulo-lista{
  text-align: center;
  margin: 70px 0px;
}
ul{ 
  margin: 0px 0px 80px 180px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
ul > li{
  width: 25%;
  text-align: left;
  margin-top: 10px;
}
.centralizar{
  text-align: center;
  margin-bottom: 50px;
}
.centralizar > h2{
  font-weight: normal;
  text-transform: uppercase;
  margin: 60px 0px 10px 0px;
}
.centralizar > p{
  line-height: 30px;
}
.tipoQuartos{
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.tipoQuartos > div > img{
  width: 300px;
  height: 200px;
}
footer{
  width: 100%;
  padding: 50px 130px;
  background-color: #49997c;
}
#rodape{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #497e6a;
  padding-bottom: 30px;
}
#icone{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
#tituloQuatro{
  width: 150px;
  font-size: 20px;
  color: #fff;
}
#minicontainer{
  width: 20%;
  display: flex;
}
#linkRodape{
  color: #fff;
  text-decoration: none;
}
#copy{
  color: #fff;
  text-align: center;
  padding-top: 25px;
}
